body{
    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(to right, #66ceff, #94d3ff, #b6d9ff, #d0e0fd, #e4e8f9, #e4e8f9, #e4e8f9, #e4e8f9, #d0e0fd, #b6d9ff, #94d3ff, #66ceff);
    margin: 0;
    color: #66ceff;
}

li {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 auto;
    padding: 0 15px 15px 15px
}

img {
    height: 150px;
    width:200px;
}

a {
    text-decoration: none;    
}
h2 {
    text-align: center;
    margin-top: 50px;
    flex: 100%;
    color: slategray;
    text-decoration: underline slategray;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 0 7ch;
    color: slategray;
}

p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
    margin-top: 50px;
    line-height: 1.5;