body{
    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(to right, #66ceff, #94d3ff, #b6d9ff, #d0e0fd, #e4e8f9, #e4e8f9, #e4e8f9, #e4e8f9, #d0e0fd, #b6d9ff, #94d3ff, #66ceff);
    margin: 0;
    color: #66ceff;
    letter-spacing: 1px;
}

li {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 auto;
    padding: 0 15px 15px 15px
}

img {
    height: 150px;
    width:200px;
    
}

a {
    text-decoration: none;    
}
h2 {
    font-size: 2em;
    text-decoration: underline slategray;
    text-align: center;
    margin-top: 50px;
    flex: 100%;
    color: slategrey;
    color: slategray;
    text-decoration: underline slategray;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 0 10%;
    color: slategray;
}

dt {
    font-size: 1em;
    margin: 0 0 0 7ch;
    color: slategray;
}

dd {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
    margin-top: 50px;
    line-height: 1.5;
}



.page-3-photo> img {

height: auto;
width: 500px;
box-shadow: slategray 3px 3px 3px 3px; 
} 

.page-4-photo img {
    box-shadow: slategray 2px 2px 2px 2px; 
    height: 200px;
    width: 250px;
} 

p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
    margin-top: 50px;
    line-height: 1.5;