body{

    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(to right, #66ceff, #94d3ff, #b6d9ff, #d0e0fd, #e4e8f9, #e4e8f9, #e4e8f9, #e4e8f9, #d0e0fd, #b6d9ff, #94d3ff, #66ceff);
    margin: 0;
    color: #66ceff;
}

li {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 auto;
}

img {
    height: 150px;
    width:200px;
}

a {
    text-decoration: none;    
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    text-decoration: underline #66CEFF;
    text-align: center;
    flex: 100%;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 0 7ch;
}