footer {
    display: flex;
    margin-top: 1em;
    color: slategray;
    font-size: 1.2em;
    margin-bottom: 1em;
}
form {
    display: flex;
    flex: 50%;
}
.name {
    display: flex;
    flex: 50%;
    flex-flow: column nowrap;
    align-items: center;
}
.button {
    overflow: hidden;
    margin-top: .75em;
    width: 25%;
    background-color: rgb(255, 255, 255 , 0);
    color: #fff;
    border: .15em solid #fff;  
}
.button:hover {
    background-color: #fff;
    color: slategray;
}
.area {
    flex: 50%;
}

.contact {
    display: flex;
    width: 50%;
    flex-flow: row;
    justify-content: space-around;
}

.contact li a {
    text-decoration: none;
    color:white;
}