 .accueil video {
     margin: 0 auto;
     padding: 0;
     height: 250px;
 }
 
 .accueil h2 {
     text-align: center;
     margin-top: 50px;
     flex: 100%;
 }

.accueil div {
    flex:50%;
    display: flex;
    justify-content: center;
}

.accueil > p {
    text-align: center;
    margin-left: 20ch;
    margin-right: 20ch;
    margin-bottom: 100px;
    margin-top: 50px;
}

 .accueil  .image-home {
    margin: 0 auto;
    flex: 50%;
 }

 .image-home img {
    width: 650px;
    height: auto;
 }

aside p {
    margin: auto 5ch;
}

 .accueil aside {
    flex: 50%;
    justify-content: center;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
}