 .accueil video {
     margin: 0 auto;
     padding: 0;
     width: 25%;
 }
.accueil div {
    flex:50%;
    display: flex;
    justify-content: center;
}
.image-home {
 flex: 100%;
 }
 .image-home img {
width: 30%;
margin: 0 auto
 }

.gif-home {
    margin: 0 auto;
    flex: 25%;
    height: auto;
 }


.accueil aside p {
    margin: 0 5ch 10% 5ch;
    line-height: 2;
    text-align: justify;
}
.accueil aside h2 {
    color: slategray;
    text-decoration: underline slategray;
    margin: 1em auto;
}
 .accueil aside {
    flex: 100%;
    justify-content: center;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
    border: solid slategray .15em;
    border-radius: .5%
}
.accueil aside p{
    margin: 2em 3em;
}